// COLORS
$main-color: #263e56;
$accent-color1: #f8aa4c;
$accent-color2: #ed3c34;
$accent-color3: #582c2c;

// VARIOUS
$box-shadow: 0 0 20px 0
    rgba(
        $color: #000000,
        $alpha: 0.3,
    );
$border-radius: 20px;
